header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
  }
  .logo {
    width: 150px; 
    height: 50px;  
    background-image: url('/web_static/images/logo.png');
    background-size: contain;  
    background-repeat: no-repeat;  
    background-position: center;  
    margin-left: 20px;
}